﻿@model PagedList.IPagedList<FizzBuzz.Models.ViewModels.FizzBuzzNumberViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        insert number: @Html.TextBox("number", ViewBag.number as int?)
        <input type="submit" value="number" />
        @Html.ValidationMessage("number")
    </p>
}

<table>
    <tr>
        <th>
            Number
        </th>
        <th>
            IsFizzyBuzzy
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Number </td>
            <td> <span style="color:blue">@item.IsFizz</span><span style="color: green">@item.IsBuzz</span> </td>
        </tr>
    }
</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, number = ViewBag.number }))

